CATASTRO_API_URL=http://ovc.catastro.meh.es/ovcservweb/OVCSWLocalizacionRC/OVCCallejero.asmx
CATASTRO_COORD_API_URL=http://ovc.catastro.meh.es/ovcservweb/OVCSWLocalizacionRC/OVCCoordenadas.asmx
MAPS_API_KEY=your_google_maps_api_key_here
PORT=3000

# Añadir credenciales de Supabase:
SUPABASE_URL=tu_url_de_supabase_aqui
SUPABASE_ANON_KEY=tu_anon_key_de_supabase_aqui
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_de_supabase_aqui
